$fontFamily: 'OpenSans', sans-serif;

$white: #ffffff;
$dark-grey: #4A4A4A;
$semidark-grey: #A0B0B9;
$light-grey: #D9D9D9;
$transparent-grey: #A0B0B9;
$bright-grey: #EFF1F4;
$blue: #2196F3;
$green: #8BC34A;
$yellow: #FFCC00;
$purple: #5856D5;
$red: #FF6A67;
